{% extends 'base.html' %}

{% block test %}

<div class="container mt-5">
    <h1 class="btn btn-danger">Uploaded Articles</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for article in articles %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.content }}</p>
                        <a href="{{ article.file.url }}" class="btn btn-primary">Download Article</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock test %}
